@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap");
@plugin "daisyui";
@plugin "@headlessui/tailwindcss";

@theme {
    --color-primary-1: "#1873aa";
    --color-primary-2: "#4126b2";
    --color-secondary-1: "#1b537b";
    --color-secondary-2: "#2d1e5d";
    --color-accent: "#2d96a1";
    --color-neutral-light: "#e9e1ff";
    --color-neutral-base: "#faf8ff";
    --color-dark: "#130d28";
  }

:root {
  margin: 0;
  padding: 0;
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  --primary-1: #1873aa;
  --primary-2: #4126b2;
  --secondary-1: #1b537b;
  --secondary-2: #2d1e5d;
  --accent: #2d96a1;
  --dark: #130d28;
  --neutral-light: #e9e1ff;
  --neutral-base: #faf8ff;
  --gradient: linear-gradient(135deg, #4126b2 0%, #1873aa 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

html,
body {
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hero-section {
  background-image: url(./assets/Hype&Beyond-Hero-Image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-logo {
  width: min(90vw, 520px);
  height: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
